In [1]:
#pandas-:pandas is a datastrure. it analysis of data and perfrom appliction on that it callled as pandas.
#series
#missing value
#groupBy
#merging,joining concatinating
#oprations
#data input and output

In [13]:
import numpy as np
import pandas as pd

In [14]:
from numpy.random import randn

In [15]:
my_list=['gana','athavr',"shubh"]
dic={
    'A':10,
    'B':20,
    'C':30,
}
labels=['a','b','c']

In [16]:
my_list

['gana', 'athavr', 'shubh']

In [17]:
dic

{'A': 10, 'B': 20, 'C': 30}

In [18]:
pd.Series(data=my_list)

0      gana
1    athavr
2     shubh
dtype: object

In [19]:
pd.Series(data=my_list,index=labels)

a      gana
b    athavr
c     shubh
dtype: object

In [25]:
pd.Series(dic)

A    10
B    20
C    30
dtype: int64

In [26]:
ser=pd.Series([1,2,3])

In [27]:
ser

0    1
1    2
2    3
dtype: int64

In [28]:
pd.Series(data=ser,index=labels)

a   NaN
b   NaN
c   NaN
dtype: float64

In [29]:
ser1=pd.Series([1,2,3,4],('PUNE','INDEX','MUMBAI','ITLEY'))

In [30]:
ser1

PUNE      1
INDEX     2
MUMBAI    3
ITLEY     4
dtype: int64

In [32]:
ser2=pd.Series([1,2,3,4],('PUNE','INDEX','GERMEY','ITLEY'))

In [51]:
ser2

PUNE      1
INDEX     2
GERMEY    3
ITLEY     4
dtype: int64

In [52]:
ser1+ser2

GERMEY    NaN
INDEX     4.0
ITLEY     8.0
MUMBAI    NaN
PUNE      2.0
dtype: float64